body{
    width: 1000px;
}
h1{
text-align: center;
}
h4{
    text-align: center;
}
#img{
    width: 100px;
    margin-right:50px;
    padding-left:20px;  
    margin:25px; 
}
ul{
    list-style-type: none;
    color: black;
    float: left;
}
li{
    display: inline-block;
    border:solid white;
    text-align: center; 
    background-color:rgb(231, 228, 228);
    border-radius: 20px;
    font-weight: bold;
    box-sizing: border-box;
    padding: 10px 0 ;
    
}